.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media (max-width: 767px) {
    .not-found {
        min-height: 104px;
        justify-content: left;
        align-items: flex-start;
        padding: 16px 16px 0 16px;
    }
}