.calendarControls {
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--triplex-next-Calendar-View_Item_Color_Default);
}
