.calendar {
    width: 300px;
    padding: 8px 12px;
    box-sizing: border-box;
    background: var(--triplex-next-Calendar-Background);
    user-select: none;

    &.adaptive {
        width: auto;
        padding: 20px;
    }

    + .calendar {
        margin-top: 20px
    }
}
