.label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;

    &.sm {
        min-width: 16px;
        min-height: 16px;

        &.nonempty {
            padding: 2px 0 2px 24px;
        }
    }

    &.md {
        min-height: 24px;
        min-width: 24px;

        &.nonempty {
            padding-left: 32px;
            padding-top: 2px;
        }
    }

    &.lg {
        min-width: 28px;
        min-height: 28px;

        &.nonempty {
            padding-left: 40px;
            padding-top: 4px;
        }
    }


    &.disabled {
        cursor: default;
    }
}

.radio {
    margin: 0;
    opacity: 0;
}

.radioIcon {
    box-sizing: border-box;
    background: var(--triplex-next-Radio-Background_Default);
    border-radius: 50%;
    box-shadow: var(--triplex-next-Radio-BorderColor_Default);
}

.radioIcon::after {
    content: "";
    position: absolute;
    background: var(--triplex-next-Radio-Dot_Default);
    border-radius: 50%;
    transform: scale(0);

    .sm & {
        width: 8px;
        height: 8px;
        top: 4px;
        left: 4px;
    }

    .md & {
        width: 12px;
        height: 12px;
        top: 6px;
        left: 6px;
    }

    .lg & {
        width: 14px;
        height: 14px;
        top: 7px;
        left: 7px;
    }
}

.radioIcon,
.radioIcon::after {
    pointer-events: none;
}

.radio,
.radioIcon {
    position: absolute;
    left: 0;
    top: 0;

    .sm & {
        width: 16px;
        height: 16px;
        top: 2px;
    }

    .md & {
        width: 24px;
        height: 24px;
    }

    .lg & {
        width: 28px;
        height: 28px;
    }
}

.radio:enabled {
    cursor: pointer;
}

.radio:checked {
    +.radioIcon {
        background: var(--triplex-next-Radio-Background_Checked_Default);
        box-shadow: var(--triplex-next-Radio-BorderColor_Checked_Default);
    }

    +.radioIcon::after {
        transform: scale(1);
        transition: transform 200ms ease-out;
    }
}

.radio:hover+.radioIcon {
    background-color: var(--triplex-next-Radio-Background_Hover);
    box-shadow: none;
}

.radio:disabled {
    +.radioIcon {
        background: var(--triplex-next-Radio-Background_Disabled);
        box-shadow: var(--triplex-next-Radio-BorderColor_Disabled);
    }

    &:checked {
        +.radioIcon {
            background: var(--triplex-next-Radio-Background_Checked_Disabled);
            box-shadow: var(--triplex-next-Radio-BorderColor_Checked_Disabled);
        }
    }

    +.radioIcon::after {
        background: var(--triplex-next-Radio-Dot_Disabled);
    }
}

.radio:focus-visible+.radioIcon {
    box-shadow: var(--triplex-next-Radio-BorderColor_Focused);
}

.radio:checked:enabled:hover+.radioIcon {
    background-color: var(--triplex-next-Radio-Background_Checked_Hover);
}