@import 'src/styles/style';

.lightBoxSideOverlayLoaderWrapper {
    left: 0;
    top: 0;
    right: 0;
    height: 100vh;
    position: absolute;
    z-index: @page-header-sticky-z-index + @z-index-step;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
}