/*
  Breakpoint для экранов менее 1024px, Controls в этом случае отобрахается наверху LightBox.
*/
@lightBox-media-point-0: 1024px;

// Ширина SideOverlayLG.
@sideOverlayLGWidth: 800px;
// Ширина SideOverlayMD.
@sideOverlayMDWidth: 600px;
// Ширина SideOverlaySM.
@sideOverlaySMWidth: 480px;

// Максимальная ширина контента LightBox. 
@lightBox-content-max-width: 864px;

// Ширина кнопки в LightBoxControls для экранов шире 1024px.
@lightBoxControlsButtonWidth: 56px;
// Отступ справа для кнопки в LightBoxControls для экранов шире 1024px.
@lightBoxControlsCloseButtonMarginRight: 24px;
// Отступ справа для кнопки в LightBoxControls для экранов шире 1024px.
@lightBoxControlsNextButtonMarginRight: 24px;
// Отступ слева для кнопки в LightBoxControls для экранов шире 1024px.
@lightBoxControlsPrevButtonMarginLeft: 24px;

// Отступы по горизонтали для контента LightBox.
@lightBoxContentMarginX: 16px;