// Ширина модального окна размера sm.
@modal-window-sm-width: 480px;

// Ширина модального окна размера md.
@modal-window-md-width: 600px;

// Ширина модального окна размера lg.
@modal-window-lg-width: 800px;

// Высота тела модального окна sm.
@modal-window-sm-body-height: 196px;

// Высота тела модального окна md.
@modal-window-md-body-height: 246px;

// Высота тела модального окна lg.
@modal-window-lg-body-height: 396px;

// Отступ модального окна снизу.
@modal-window-bottom: 24px;
