@page-body-z-index: 100;
@page-header-sticky-z-index: @page-body-z-index + 1;
@page-footer-sticky-z-index: @page-body-z-index + 1;
@page-padding-desktop-x: 32px;
@page-padding-desktop-y: 32px;
@page-padding-mobile-x: 16px;
@page-padding-mobile-y: 16px;