@import 'src/styles/style';

.action {
    position: relative;
    cursor: pointer;
    transition: background 120ms ease, box-shadow 120ms ease;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        z-index: 10;
        pointer-events: none;
        box-shadow: var(--card-inner-shadow, none);
        border-radius: var(--radius);
    }

    &.general {
        background: var(--triplex-next-Card-Action_General_Background);
        box-shadow: var(--triplex-next-Card-Shadow_Default);

        &:hover {
            background: var(--triplex-next-Card-Action_General_Background_Hover);
            box-shadow: var(--triplex-next-Card-Shadow_Hover);
        }

        &.selected {
            background: var(--triplex-next-Card-Action_General_Background_Selected);
            box-shadow: var(--triplex-next-Card-Shadow_Default);
            --card-inner-shadow: var(--triplex-next-Card-Shadow_Selected);

            &:hover {
                background: var(--triplex-next-Card-Action_General_Background_Selected_Hover);
                box-shadow: var(--triplex-next-Card-Shadow_Hover);
                --card-inner-shadow: var(--triplex-next-Card-Shadow_Selected_Hover);
            }
        }

        &:focus {
            outline: none;

            &.focusVisible {
                box-shadow: var(--triplex-next-Card-Shadow_Default);
                --card-inner-shadow: var(--triplex-next-Card-Shadow_Focus);
            }
        }
    }

    &.secondary {
        background: var(--triplex-next-Card-Action_Secondary_Background);

        &:hover {
            background: var(--triplex-next-Card-Action_Secondary_Background_Hover);
        }

        &.selected {
            background: var(--triplex-next-Card-Action_Secondary_Background_Selected);
            box-shadow: var(--triplex-next-Card-Shadow_Selected);
            --card-inner-shadow: var(--triplex-next-Card-Shadow_Selected);

            &:hover {
                background: var(--triplex-next-Card-Action_Secondary_Background_Selected_Hover);
                box-shadow: none;
                --card-inner-shadow: var(--triplex-next-Card-Shadow_Selected_Hover);
            }
        }

        &:focus {
            outline: none;

            &.focusVisible {
                box-shadow: none;
                --card-inner-shadow: var(--triplex-next-Card-Shadow_Focus);
            }
        }
    }
}
