@import '../../../styles/style';

.island {
    position: relative;
    
    &.type1 {
        background-color: var(--triplex-next-Island-Type1_Background);
        box-shadow: var(--triplex-next-Island-Type1_Shadow);
    }

    &.type2 {
        background-color: var(--triplex-next-Island-Type2_Background);
        box-shadow: var(--triplex-next-Island-Type2_Shadow);
    }
    
    &.type3 {
        background-color: var(--triplex-next-Island-Type3_Background);
        box-shadow: var(--triplex-next-Island-Type3_Shadow);
    }

    &.sm {
        border-radius: 16px;
        padding: 16px;

        .islandHeader + .islandBody,
        .islandHeader + .islandFooter,
        .islandBody + .islandFooter {
            margin-top: 8px;
        }
    }

    &.md {
        border-radius: 24px;
        padding: 24px;

        .islandHeader + .islandBody,
        .islandHeader + .islandFooter,
        .islandBody + .islandFooter {
            margin-top: 12px;
        }
    }

    &.lg {
        border-radius: 32px;
        padding: 32px;

        .islandHeader + .islandBody,
        .islandHeader + .islandFooter,
        .islandBody + .islandFooter {
            margin-top: 16px;
        }
    }

    @media (max-width: @screen-sm-max) {
        &.sm {
            border-radius: 16px;
            padding: 16px;
        }

        &.md {
            border-radius: 16px;
            padding: 16px;
        }

        &.lg {
            border-radius: 24px;
            padding: 24px;
        }
    }
}