@import 'src/styles/style';

.modalWindowClose {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: @z-index-loader-screen + 50;
    -webkit-tap-highlight-color: transparent;
}

@media (max-width: @screen-sm-max) {
    .modalWindowClose {
        top: 20px;
        right: 20px;
    }
}
