.tabs-extended-content {
    background-color: #f2f4f7;
    border-radius: 6px;
}

.button-icon-dropdown-tabs-extended button.hoverable {
    min-width: 32px !important;
    min-height: 32px !important;
    padding: 0px !important;
    border-radius: 0px !important;

    &:hover {
        background: none !important;
    }
}
