.notificationBodyTextArea {
    width: 304px;
    margin-top: 16px;
    color: var(--triplex-next-Notification-Color);

    :last-child {
        font-size: 14px;
        top: 10px;
        padding-top: 0px;
    }
}

.notificationBodyCheckbox {
    margin-top: 16px;
}

&.finalStatus {
    text-align: center;
    padding-left: 16px;

    :first-child {
        align-items: center;
    }
}
