.tabsExtended {
    position: relative;
}

.tabsExtendedContent {
    display: inline-flex;

    &.sm {
        border-radius: 6px;
        padding: 4px;
    }

    &.md {
        border-radius: 8px;
        padding: 4px;
    }

    &.lg {
        border-radius: 10px;
        padding: 8px;
    }
}

.tabsExtendedTab {
    display: flex;
}

.tabsExtendedTab + .tabsExtendedTab,
.tabsExtendedDropdown {
    margin-left: 2px;
}

.tabsReal,
.tabsFake {
    display: flex;
    box-sizing: border-box;
    width: 100%;
}

.tabsReal {
    &.hidden {
        visibility: hidden;
    }

    .tabsExtendedTab.hidden {
        display: none;
    }
}

.tabsFake {
    padding: 0 2px;
    position: absolute;
    left: -10000px;
    visibility: hidden;
}

.type1 {
    .tabsExtendedContent {
        background-color: var(--triplex-next-Tabs-Type1_Background);
    }
}

.type2 {
    .tabsExtendedContent {
        background-color: var(--triplex-next-Tabs-Type2_Background);
    }
}