.listItemContent {
    background: var(--triplex-next-ListItem-Background);
    padding: 18px 0px 18px 16px;
    // Минимальная высота, из-за блока Action с кнопками при свайпе.
    min-height: 56px;
    box-sizing: border-box;

    &.selected {
        border-radius: 8px 0 0 8px;
        background: var(--triplex-next-ListItem-Background_Selected);
    }
}