@import "../../../styles/style";

.islandAccordion {
    margin: 0;
    padding: 0;

    .island {
        padding: 0;
    }

    .item {
        position: relative;
        list-style-type: none;

        &.disabled {
            cursor: default;
            pointer-events: none;
        }

        & + .item.sm,
        & + .item.md {
            margin-top: 16px;
        }

        & + .item.lg {
            margin-top: 24px;
        }

        .header {
            display: flex;
            width: 100%;
            margin: 0; // Safari/Firefox fix
            outline: none;
            border: none;
            text-align: left;
            cursor: pointer;
            background: none;

            &:focus-visible {
                box-shadow: var(--triplex-next-IslandAccordion-Shadow_Focus);
            }
        }

        &.type1:not(.opened) {
            .header:hover {
                background: var(--triplex-next-IslandAccordion-Type1_Header_Background_Hover);
            }
        }

        &.type2:not(.opened) {
            .header:hover {
                background: var(--triplex-next-IslandAccordion-Type2_Header_Background_Hover);
            }
        }

        &.type3:not(.opened) {
            .header:hover {
                background: var(--triplex-next-IslandAccordion-Type3_Header_Background_Hover);
            }
        }

        .footer {
            text-align: right;
        }

        .body,
        .footer {
            // Чтобы focus не попадал во внутренние элементы в закрытом состоянии.
            visibility: hidden;
        }

        &.opened .body,
        &.opened .footer {
            visibility: visible;
        }

        .caretWrapper {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }

        .caretIcon {
            flex-shrink: 0;
            transition: transform 0.3s ease-in-out;
        }

        .title {
            padding-right: 40px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &.sm {
            .header {
                padding: 16px;
                border-radius: 16px;
            }

            .step + .title {
                margin-top: 2px;
            }

            .body,
            .footer {
                padding: 0 16px 16px 16px;
            }

            .caretWrapper {
                right: 12px;
            }

            .remove {
                right: -36px;
                top: 20px;
            }

            .step {
                margin-right: 12px;
            }
        }

        &.md {
            .header {
                padding: 24px;
                border-radius: 24px;
            }

            .body,
            .footer {
                padding: 0 24px 24px 24px;
            }

            .caretWrapper {
                right: 20px;
            }

            .remove {
                right: -40px;
                top: 28px;
            }

            .step {
                margin-right: 12px;
            }
        }

        &.lg {
            .header {
                padding: 32px;
                border-radius: 32px;
            }

            .body,
            .footer {
                padding: 0 32px 32px 32px;
            }

            .caretWrapper {
                right: 28px;
            }

            .remove {
                right: -40px;
                top: 36px;
            }

            .step {
                margin: 0 16px 0 0;
            }
        }

        &.opened:not(.disabled) .caretWrapper .caretIcon {
            transform: rotate(-180deg);
        }

        .remove {
            position: absolute;
        }
    }
}

@media (max-width: @screen-sm-max) {
    .islandAccordion {
        .item {
            .footer {
                display: flex;
                flex-wrap: wrap;
                gap: 12px;

                > * {
                    margin-left: 0 !important;
                }
            }

            &.md {
                .header {
                    border-radius: 16px;
                }
            }

            &.lg {
                .header {
                    border-radius: 24px;
                }
            }
        }
    }
}
