@import '../../../styles/style';

.headerTitle {
    display: flex;
    justify-content: space-between;

    .headerTitleContent {}

    .headerTitleControls {
        flex-shrink: 0;
        white-space: nowrap;
        padding-left: 24px;
    }
}

.headerLink + .headerTitle {
    padding-top: 0;
}

.global-HeaderTitleControls {
    min-width: 0;
}

.global-HeaderTitleContent {
    min-width: 0;
}

@media (max-width: @screen-sm-max) {
    .headerTitle {
        flex-wrap: wrap;

        .headerTitleContent {
            width: 100%;
        }

        .headerTitleControls {
            padding-left: 0;
            white-space: normal;
            // Отступы, компенсирующие отступы у Button.
            margin-left: -16px;

            > button {
                margin-left: 16px;
                margin-top: 16px;
            }
        }
    }
}
