.island-widget-example {
    max-width: 700px;
    padding: 60px;

    .island-widget-date-field {
        width: 120px;
    }

    .island-widget-control-panel {
        margin-bottom: 16px;
    }

    .island-widget-extra-footer {
        min-height: 64px;
    }
}