.multiselectFieldFooter {
    padding: 0 12px 12px 12px;

    &::before {
        content: '';
        display: block;
        height: 12px;
        margin: 0 -12px;
        border-top: 1px solid var(--triplex-next-MultiselectField-Divider_Color);
    }
}
