.checkboxYGroup {
    display: inline-flex;
    flex-flow: column wrap;

    .label.sm+.label.sm {
        margin-top: 8px;
    }

    .label.lg+.label.lg {
        margin-top: 20px;
    }

    .label.md + .label.md {
        margin-top: 16px;
    }
}