.label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;

    &.sm {
        min-width: 16px;
        min-height: 16px;

        &.nonempty {
            padding: 2px 0 2px 24px;
        }
    }

    &.md {
        min-width: 24px;
        min-height: 24px;

        &.nonempty {
            padding-left: 32px;
            padding-top: 2px;
        }
    }

    &.lg {
        min-width: 28px;
        min-height: 28px;

        &.nonempty {
            padding-left: 40px;
            padding-top: 4px;
        }
    }

    &.disabled {
        cursor: default;
    }

    &[hidden] {
        display: none; // Screenshot tests
    }
}

.checkbox {
    margin: 0;
    opacity: 0;
}

.checkboxIcon {
    box-sizing: border-box;
    background-color: var(--triplex-next-Checkbox-Background_Default);
    border-radius: 6px;
    box-shadow: var(--triplex-next-Checkbox-BorderColor_Default);

    .sm & {
        border-radius: 4px;
    }
}

.checkmarkIcon {
    transform: scale(0);

    path {
        fill: var(--triplex-next-Checkbox-Checkmark_Fill_Default);
    }
}

.checkboxIcon,
.checkmarkIcon {
    pointer-events: none;
}

.checkbox,
.checkboxIcon,
.checkmarkIcon {
    position: absolute;
    left: 0;
    top: 0;

    .sm & {
        width: 16px;
        height: 16px;
        top: 2px;
    }

    .md & {
        width: 24px;
        height: 24px;
    }

    .lg & {
        width: 28px;
        height: 28px;
    }
}

.checkbox:enabled {
    cursor: pointer;

    &:hover+.checkboxIcon {
        box-shadow: var(--triplex-next-Checkbox-BorderColor_Hover);
        background-color: var(--triplex-next-Checkbox-Background_Hover);
    }
}

.checkbox:checked {
    +.checkboxIcon {
        background-color: var(--triplex-next-Checkbox-Background_Checked_Default);
        box-shadow: var(--triplex-next-Checkbox-BorderColor_Checked_Default);
    }

    ~.checkmarkIcon {
        transform: scale(1);
        transition: transform 200ms ease-out;
    }
}

.checkbox:disabled {
    +.checkboxIcon {
        background-color: var(--triplex-next-Checkbox-Background_Disabled);
        box-shadow: var(--triplex-next-Checkbox-BorderColor_Disabled);
    }

    &:checked {
        +.checkboxIcon {
            background: var(--triplex-next-Checkbox-Background_Checked_Disabled);
            box-shadow: var(--triplex-next-Checkbox-BorderColor_Checked_Disabled);
        }
    }

    ~.checkmarkIcon path {
        fill: var(--triplex-next-Checkbox-Checkmark_Fill_Disabled);
    }
}

.checkbox:focus-visible+.checkboxIcon {
    box-shadow: var(--triplex-next-Checkbox-BorderColor_Focus);
}

.checkbox:checked:enabled:hover+.checkboxIcon {
    background-color: var(--triplex-next-Checkbox-Background_Checked_Hover);
}