.paginationPageButton {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    width: 28px;
    border: 1px solid transparent;
    border-radius: 6px;
    cursor: pointer;

    &:focus-visible {
        border-color: var(--triplex-next-Pagination-PageButton_BorderColor_Focus);
        outline: none;
    }

    &:hover {
        background-color: var(--triplex-next-Pagination-PageButton_Background_Hover);
    }

    &:active {
        background-color: var(--triplex-next-Pagination-PageButton_Background_Active);
        cursor: grabbing;
    }

    &.currentPage {
        background-color: var(--triplex-next-Pagination-PageButton_Background_Selected);
        cursor: default;
    }
}
