.segmentedControl {
    display: flex;
    gap: 4px;

    &.general1 {
        background: var(--triplex-next-SegmentedControl-General_1_Background);
    }

    &.secondary1 {
        background: var(--triplex-next-SegmentedControl-Secondary_1_Background);
    }

    &.general2 {
        background: var(--triplex-next-SegmentedControl-General_2_Background);
    }

    &.secondary2 {
        background: var(--triplex-next-SegmentedControl-Secondary_2_Background);
    }

    &.sm {
        border-radius: 6px;
        padding: 4px;
    }

    &.md {
        border-radius: 8px;
        padding: 4px;
    }

    &.lg {
        border-radius: 10px;
        padding: 8px;
    }
}
