.badgeDot {
    display: inline-block;
    background: var(--triplex-next-Badge-Background);
    border-radius: 50%;

    &.sm {
        width: 6px;
        height: 6px;
    }

    &.md {
        width: 8px;
        height: 8px;
    }

    &.lg {
        width: 10px;
        height: 10px;
    }
}
