.marker {
    &.success {
        background: var(--triplex-next-Marker-Background_Success);
    }
    
    &.error {
        background: var(--triplex-next-Marker-Background_Error);
    }
    
    &.warning {
        background: var(--triplex-next-Marker-Background_Warning);
    }
    
    &.waiting {
        background: var(--triplex-next-Marker-Background_Waiting);
    }
}
