@tabsLine-tab-height: 28px;

.tabsLinePanelLinks {
    display: flex;
    height: @tabsLine-tab-height;
    z-index: 1;
    margin-left: auto;

    > a:not(:first-child) {
        margin-left: 16px;
    }
}
