.text {
    outline: none;
    
    &.regular {
        font-family: 'SBSansText';
    }

    &.semibold {
        font-family: 'SBSansTextSemibold';
        font-weight: 600;
    }
}

.b1 {
    font-size: 18px;
    line-height: 24px;
}

.b2 {
    font-size: 16px;
    line-height: 20px;
}

.b3 {
    font-size: 14px;
    line-height: 20px;

    &.compact {
        line-height: 16px;
    }
}

.b4 {
    font-size: 12px;
    line-height: 16px;
}
