.underline {
    text-decoration: underline;
}

.strikethrough {
    text-decoration: line-through;
}

.underlineStrikethrough {
    text-decoration: underline line-through;
}

.typography {
    &.primary {
        color: var(--triplex-next-Typography-Primary_Color)
    }

    &.primaryInvert {
        color: var(--triplex-next-Typography-PrimaryInvert_Color);
    }

    &.complementary {
        color: var(--triplex-next-Typography-Complementary_Color);
    }

    &.complementaryInvert {
        color: var(--triplex-next-Typography-ComplementaryInvert_Color);
    }

    &.secondary {
        color: var(--triplex-next-Typography-Secondary_Color);
    }

    &.secondaryInvert {
        color: var(--triplex-next-Typography-SecondaryInvert_Color);
    }

    &.tertiary {
        color: var(--triplex-next-Typography-Tertiary_Color);
    }

    &.tertiaryInvert {
        color: var(--triplex-next-Typography-TertiaryInvert_Color);
    }

    &.disabled {
        color: var(--triplex-next-Typography-Disabled_Color);
    }

    &.disabledInvert {
        color: var(--triplex-next-Typography-DisabledInvert_Color);
    }

    &.brand {
        color: var(--triplex-next-Typography-Brand_Color);
        user-select: none;
    }

    &.brandInvert {
        color: var(--triplex-next-Typography-BrandInvert_Color);
    }

    &.info {
        color: var(--triplex-next-Typography-Info_Color);
    }

    &.infoInvert {
        color: var(--triplex-next-Typography-InfoInvert_Color);
    }

    &.success {
        color: var(--triplex-next-Typography-Success_Color);
    }

    &.successInvert {
        color: var(--triplex-next-Typography-SuccessInvert_Color);
    }

    &.error {
        color: var(--triplex-next-Typography-Error_Color);
    }

    &.errorInvert {
        color: var(--triplex-next-Typography-ErrorInvert_Color);
    }

    &.warning {
        color: var(--triplex-next-Typography-Warning_Color);
    }

    &.warningInvert {
        color: var(--triplex-next-Typography-WarningInvert_Color);
    }

    &.system {
        color: var(--triplex-next-Typography-System_Color);
    }

    &.systemInvert {
        color: var(--triplex-next-Typography-SystemInvert_Color);
    }

    &.compact {
        line-height: calc(16 / 14); // Line height 16px при font-size 14px
    }
}

