@import "src/styles/style";

.islandWidgetExtraFooter {
    background-color: var(--triplex-next-IslandWidget-ExtraFooter_Background);
    margin-top: -24px;
    padding-top: 24px;
    border-radius: 0 0 24px 24px;
}

@media (max-width: @screen-sm-max) {
    .islandWidgetExtraFooter {
        border-radius: 0 0 16px 16px;
    }
}