.islandWidgetFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
}

.islandWidgetFooterContent {
    flex-grow: 1;
    margin-right: auto;
}

.islandWidgetFooterControls {
    margin-left: auto;
    white-space: nowrap;
}
