@import "src/styles/style";

.bodyPage {
    flex-grow: 1;
}

.verticalMargin24 {
    margin-top: 24px;
    margin-bottom: 24px;
}

.verticalMargin16 {
    margin-top: 16px;
    margin-bottom: 16px;
}

@media (max-width: @screen-sm-max) {
    .verticalMargin24 {
        margin-top: 16px;
        margin-bottom: 16px;
    }
    .verticalMargin16 {
        margin-top: 8px;
        margin-bottom: 8px;
    }
}