@import '../../../styles/style';

@page-island-border-radius: 24px;

.page {
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: @page-padding-desktop-y @page-padding-desktop-x;
    box-sizing: border-box;
}

.global-page {
    position: relative;
}

@media (max-width: @screen-sm-max) {
    .page {
        padding: @page-padding-mobile-y @page-padding-mobile-x;
    }
}

/*
    Breakpoint для экранов шире 1024px.
    > 1024px
*/
.global-LB-more-media-point-0 {
    .headerPageTypeFirst.sticky {
            z-index: @page-header-sticky-z-index;
            position: sticky;
            top: 0;
            border-top-left-radius: var(--r-top, @page-island-border-radius) !important;
            border-top-right-radius: var(--r-top, @page-island-border-radius) !important;
            transition: border-radius 0.2s ease, box-shadow 0.2s ease;

            &[data-stuck="true"] {
                box-shadow: var(--triplex-next-HeaderPage-StickyShadow) !important;
            }
    }

    .footerPageTypeFirst.sticky {
        z-index: @page-header-sticky-z-index;
        position: sticky;
        bottom: 0;
        transition: border-radius 0.2s ease, box-shadow 0.2s ease;
        border-bottom-left-radius: var(--r-bottom, @page-island-border-radius) !important;
        border-bottom-right-radius: var(--r-bottom, @page-island-border-radius) !important;
    
        &[data-stuck="true"] {
            box-shadow: var(--triplex-next-FooterPage-StickyShadow) !important;
        }
    }
}