.tagColor {
    box-sizing: border-box;
    max-width: 100%;
    position: relative;
    display: inline-flex;
    align-items: center;

    &.sm {
        height: 16px;
        padding: 2px 6px;
        border-radius: 4px;

        font-size: 10px;
        line-height: 12px;
    }

    &.md {
        height: 20px;
        padding: 2px 8px;
        border-radius: 4px;

        font-size: 12px;
        line-height: 16px;
    }

    &.lg {
        height: 28px;
        padding: 4px 8px;
        border-radius: 8px;

        font-size: 14px;
        line-height: 20px;
    }

    &.default {
        background: var(--triplex-next-TagColor-Background_Default);
    }

    &.success {
        background: var(--triplex-next-TagColor-Background_Success);
    }

    &.info {
        background: var(--triplex-next-TagColor-Background_Info);
    }

    &.warning {
        background: var(--triplex-next-TagColor-Background_Warning);
    }

    &.error {
        background: var(--triplex-next-TagColor-Background_Error);
    }
}

.content {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    color: var(--triplex-next-TagColor-Text_Color_Default);
}
