.not-found {
    display: flex;
    justify-content: center;
    align-items: center;

    &.sm {
        height: 196px;
    }

    &.md {
        height: 254px;
    }

    &.lg {
        height: 278px;
    }
}