.tooltipMobile {
    .tooltipBody {
        text-align: left;
    }
}

.tooltipMobileContent {
    padding: 16px;

    .headerless & {
        padding-right: 40px;
        border-radius: 16px 16px 0 0;

        .closeButton {
            position: absolute;
            right: 16px;
            top: 16px;
        }
    }
}
