.island-accordion-example {
    max-width: 700px;
    padding: 60px;
}

.sizes-example {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.theme-light {
    .island-accordion-example-grid, .island-accordion-example {
        background-color: #e3e6ea;
    }
}

.theme-dark {
    .island-accordion-example-grid, .island-accordion-example {
        background-color: #000000;
    }
}