@import '../../../styles/style';

.uploadZoneDragArea() {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

.uploadZone {
    border-radius: 8px;
    position: relative;
    background: var(--triplex-next-UploadZone-Background_Default);

    &:hover {
        background: var(--triplex-next-UploadZone-Background_Hover);
    }
}

.uploadZoneDragArea {
    .uploadZoneDragArea();

    border: 1px dashed var(--triplex-next-UploadZone-BorderColor_Default);
    border-radius: 8px;
    box-sizing: border-box;


}

.uploadZoneContainerDragArea {
    .uploadZoneDragArea();

    height: 100%;
    background: var(--triplex-next-UploadZone-DragArea_Background);

    border: 1px dashed var(--triplex-next-UploadZone-DragArea_BorderColor);
    border-radius: 8px;
    box-sizing: border-box;
}

.uploadZoneInput {
    display: none;
}

@media (max-width: @screen-sm-max) {
    .uploadZone {
        background: none;

        &:hover {
            background: none;
        }
    }

    .uploadZoneDragArea {
        display: none;
    }
}