.statusTracker-example-wrapper {
    padding: 24px;
    width: 372px;
    background: #E9EDF1;

    & .theme-dark {
      background: #000000;
    }
}

.statusTracker-example-wide-wrapper {
    width: 600px;
}
