@import 'src/styles/style';

.lightBoxRightSidebar {
    // Ширина LightBox.
    --lightBox-width: calc(var(--lightBox-screen-width) - var(--triplex-next-scroll-width, 0));
    // Ширина Page внутри LightBox.
    --page-width: @lightBox-content-max-width;
    // Положение правой боковой панели относительно правого края экрана.
    // Учитывает отступы от края экрана и ширину кнопки в LightBoxControls.
    --right-position: calc(var(--lightBox-screen-left) + @lightBoxContentMarginX + @lightBoxControlsPrevButtonMarginLeft * 2 + @lightBoxControlsButtonWidth);
    // Дополнительная ширина, у Page правый отступ 32px, а должно быть 24px.
    --additional-width: 8px;
    position: absolute;
    right: var(--right-position);
    top: 40px;
    width: calc((var(--lightBox-width) - var(--page-width) - var(--right-position) * 2) / 2 + var(--additional-width));
    // Этот div становится контейнером.
    container-type: inline-size; 
    // Имя контейнера.
    container-name: right-sidebar-wrapper; 

    &.fixed {
      position: fixed;
  }
}

// Скрытие правой боковой панели, если ее ширина меньше 100px.
@container right-sidebar-wrapper (max-width: 100px) {
    .lightBoxRightSidebarInner {
      display: none;
    }
  }