@import "src/styles/style";

.stepperExtended {
    padding-left: 28px;
    padding-right: 28px;
}

.stepperExtendedCarousel {
    padding-left: 5px;
    padding-right: 5px;
    position: relative;

    .buttonPrev,
    .buttonNext {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;

        &.sm {
            height: 28px;
            width: 28px;
        }

        &.md {
            height: 40px;
            width: 40px;
        }

        &.lg {
            height: 56px;
            width: 56px;
        }
    }

    .buttonPrev {
        left: 1px;
        background: var(--triplex-next-Stepper-ButtonPrev_Background);
    }

    .buttonNext {
        right: 1px;
        background: var(--triplex-next-Stepper-ButtonNext_Background);
    }
}

@media (max-width: @screen-sm-max) {
    .stepperExtended {
        padding-left: 16px;
        padding-right: 16px;
    }

    .buttonPrev,
    .buttonNext {
        display: none;
    }
}
