.tabsContent {
    .tabButtonDropdown {
        padding: 0 !important;
        border-radius: 0 !important;
        background: none !important;

        &.sm {
            min-width: 20px;
            min-height: 20px;
            height: 20px;
        }

        &.md {
            min-width: 32px;
            min-height: 32px;
            height: 32px;
        }

        &.lg {
            min-width: 40px;
            min-height: 40px;
            height: 40px;
        }
    }
}
