@import '../../../styles/style';

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -@grid-horizontal-gap;
    margin-right: -@grid-horizontal-gap;
    padding-bottom: @row-bottom-padding;

    &.noPaddingBottom,
    &:last-child {
        padding-bottom: 0;
    }
}
