.loaderSmall-example {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    max-width: 50px;
}

.theme-light .loaderSmall-example {
    background-color: #c4c4c4;
}

.different-themes-example {
    max-width: 100px;
}

.different-sizes-example {
    max-width: 200px;
}
