.button.link {
    text-transform: none;
    background: transparent;
    color: var(--triplex-next-Button-Link_Color_Default);
    padding: 0;

    &.sm {
        height: 28px;
        min-width: 0px;
        padding: 6px 2px;
    }

    &.md {
        height: 40px;
        min-width: 0px;
        padding: 10px 2px;
    }

    &.lg {
        height: 56px;
        min-width: 0px;
        padding: 18px 2px;
    }

    &:hover {
        color: var(--triplex-next-Button-Link_Color_Hover);
    }

    &.expanded,
    &:active {
        color: var(--triplex-next-Button-Link_Color_Active);
    }

    &:focus-visible {
        box-shadow: var(--triplex-next-Button-Link_Shadow_Focus);
    }

    &:disabled {
        color: var(--triplex-next-Button-Link_Color_Disabled);
    }
}
