.buttonDropdownExtended {
    display: inline-block;
    position: relative;
    vertical-align: top;
    line-height: 0;

    .buttonDropdownExtendedBlock {
        padding: 4px;
        margin-top: 4px;
        right: 0;
    }
}
